{% extends 'account/base.html' %}

{% block content %}
    <div class="card w-50">
        <div class="card-body">
        <h3>Reset Password</h3>
            <form action="" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    {{form.email.label}}
                    {{form.email}}
                    
                    {{form.email.error}}
                
                </div>
                <div class="mb-3">
                    <button class="btn btn-danger" type="submit">Reset password</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}