{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <title>Django | Forgot Password</title>
</head>
<body>
    <div class="container">
        <div class="vh-100 w-100 d-flex justify-content-center align-items-center">
        
            {% block content %}
            {% endblock content %}
        </div>
    </div>
</body>
</html>